@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #f1f1f1;
    font-family: Lato;
}

h1 {
    width: 70%;
    margin: auto;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid #006d00;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

a.selected:link, a.selected:visited {
    background-color:#006d00;
    color:white;
}

a:hover{
    background-color: #006d00;
    color:white;
}

table.dataframe, .dataframe th, .dataframe td {
    border: 1px solid #c2c2c2;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:center;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
  }
  
  .weather th , .rain th{
      background-color: #005d69;
      color: rgb(255, 255, 255);
  }
  
  .velib th {
      background-color: #006d00;
      color: rgb(255, 255, 255);
  }

  .metro th {
      background-color: #00C4B3;
      color: rgb(255,255,255);
    }