# fill-in and rename this file ".env"
HOME_LATITUDE=49.2534
HOME_LONGITUDE=2.4458
OFFICE_LATITUDE=49.3598
OFFICE_LONGITUDE=2.6158
METRO_LINES=[4,8]
WEATHER_HOURS=[0,3,6,9]
FLASK_SECRET=mysecretkey
DB_PASSWORD=my_db_password
APP_ENV=Dev